body {
	letter-spacing: 1px;
	background-color: #232323;
	color: #ffffff;
	line-height: 2.0;
}
.container-fluid {
	margin: auto;
}
.fsize120 {
	font-size: 120%;
}
.color-accent {
	color: #ff0068 !important;
}
a {
	color: #00a1b3;
}
a:hover {
	font-size: 105%;
}
iframe {
	-moz-transform: scale(1,1);
	-webkit-transform: scale(1,1);
	-o-transform: scale(1,1);
	-ms-transform: scale(1,1);
	width: 100%;
	height: 300px;
}
ul,li {
	margin: 0;
	padding: 0;
	list-style: none;
}