body {
	line-height: 2.0;
	box-sizing: border-box;
	word-wrap: break-word;
}
#percent {
	position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #fb00ff;
    height: 100px;
    width: 100px;
    text-align: center;
    margin: 0;
    line-height: 100px;
    color: white;
    border-radius: 50%;
}