body {
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
}
.title {
  margin: 0;
}
.bg-is-black .title {
  color: #fff;
}
section {
    height: 100vh;
}
section:nth-child(odd) {
    background-color: black;
}